\documentclass[11pt,a4paper,sans]{moderncv}
\moderncvstyle{classic} 
\moderncvcolor{blue}
\usepackage[scale=0.75]{geometry}

% font loading
% for luatex and xetex, do not use inputenc and fontenc
% see https://tex.stackexchange.com/a/496643
\ifxetexorluatex
  \usepackage{fontspec}
  \usepackage{unicode-math}
  \defaultfontfeatures{Ligatures=TeX}
  \setmainfont{Latin Modern Roman}
  \setsansfont{Latin Modern Sans}
  \setmonofont{Latin Modern Mono}
  \setmathfont{Latin Modern Math} 
\else
  \usepackage[T1]{fontenc}
  \usepackage{lmodern}
\fi

% == Personal Data ==
\name{\VAR{first_name}}{\VAR{last_name}}
\title{\VAR{title}}
\phone[mobile]{\VAR{phone.cell}}
\email{\VAR{email}}
\social[github]{\VAR{socials.github}}

\begin{document}
\makecvtitle

\section{Education}
\BLOCK{for item in education}
\cventry{\VAR{item.month} \VAR{item.year}}{\VAR{item.title}}{\VAR{item.school}}{}{}{}
\BLOCK{endfor}

\section{Experience}
\BLOCK{for item in employment}
\cventry[2em]{\VAR{item.start}--\VAR{item.end}}{\VAR{item.position}}{\VAR{item.company.name}}{\VAR{item.company.location}}{}{%
\VAR{item.company.summary}\newline{}%
\begin{itemize}%
\BLOCK{for achievement in item.achievements-}
\item \VAR{achievement}
\BLOCK{endfor-}
\end{itemize}%
}
\BLOCK{endfor}

\section{Languages}
%\cvitemwithcomment{Python}{}

\section{Other}
\BLOCK{-for item in hobbies}
\cvlistitem{\VAR{item}}
\BLOCK{endfor-}

\end{document}

% vim:ft=tex