{% macro SmallCaps(text, start='\textsc{', end='}') %}{{ start + text + end }}{% endmacro %}
{% macro Emphasis(text, start='\emph{', end='}') %}{{ start + text + end }}{% endmacro %}
{% macro Bold(text, start='\textbf{', end='}') %}{{ start + text + end }}{% endmacro %}
